body {
  text-align: center;
  padding-top: 20px;
  background-color: rgb(72, 50, 72);
  padding-left: 25px;
  padding-right: 25px;
  font-weight: bold;
  font-size: 16px;
}

.jumbotron {
  background-color:lavender;
}

.card-body {
  background-color:lavender;
  min-height: 245px;
}


h1 {
  font-size: 36px;
  padding-bottom: 20px;
}

h2 {
  font-size: 20px;
}

h4 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.hidden {
  display: none;
}

img {
  height: 400px;
  width: 550px;
  padding-bottom: 20px;
}

.result h4 {
  color: white;
}

.border-green {
  border-color: #198754;
}

button {
  padding: 10px 20px;
  margin: 32px;
  background-color: lavender;
}

button:hover {
  background-color: #198754;
  color: white;
}

label {
  margin-bottom: 5px
}



